:root {
  /* Primary colors 1 and 2 used in conjunction with each other to form primary gradient */
  --primary-color-1: #b616db;
  --primary-color-2: #d528a6;
  /* Primary shadow to be used for shadows of boxes surrounding primary gradient */
  --primary-color-shadow: #c31ec4;
  --input-box-background: #171717;
  --input-border-inactive: #1c1c1c;
  --success-green: #4bca81;

  --background-color: #101010;
  --accent-background-color: #292929;
  --lightest-accent-color: #303030;
}

/* Base styles */
h1 {
  font-size: 36px;
}

p {
  color: rgba(255, 255, 255, 0.8);
}

/* Disable autofill background color in input boxes in chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-box-background) inset !important;
}

/*Change text in autofill text box*/
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

/* Primary gradient button */
.btn-grad-primary {
  background-image: linear-gradient(
    to right,
    var(--primary-color-1) 0%,
    var(--primary-color-2) 51%,
    var(--primary-color-1) 100%
  );
}

.btn-grad-primary {
  margin: 20px 0;
  padding: 18px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 15px;
  border-width: 0;
  box-shadow: 0 0 15px var(--primary-color-shadow);
  display: block;
  font-weight: bold;
  width: 100%;
}

.btn-grad-primary:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border-width: 0;
  box-shadow: 0 0 30px var(--primary-color-shadow);
}

/* Secondary button */
.btn-secondary {
  margin: 20px 0;
  padding: 18px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 15px;
  border-width: 0;
  border-color: var(--input-border-inactive);
  display: block;
  font-weight: bold;
  width: 100%;
  background-color: var(--input-box-background);
}

.btn-secondary:hover {
  color: #fff;
  text-decoration: none;
  border-width: 0;
  box-shadow: 0 0 20px var(--primary-color-shadow);
}

.button-container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Text field */

.text-input {
  margin: 20px 0;
  margin-top: 35px;
  padding: 15px 35px;
  background-color: var(--input-box-background);
  color: #eee;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid var(--input-border-inactive);
  transition: 0.5s;
  border-radius: 15px;
  width: 100%;
}

.text-input:focus {
  box-sizing: border-box;
  outline: none;
  border: 2px solid var(--primary-color-shadow);
}

.text-input-ERROR {
  animation: shake 0.75s;
}

.label-text {
  line-height: 14px;
  pointer-events: none;
  font-size: 16px;
}

.label-container {
  position: relative;
  left: 20px;
  top: -106px;
}

.trailing-icon-container {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  top: -80px;
  right: 15px;
}

.input-success-shadow {
  box-shadow: 0 0 15px var(--primary-color-shadow);
}

/* Form container */
.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.input-field-container {
  margin: 0 auto;
  width: 100%;
}

/* Random circles to display on page */
.gradient-circle {
  position: absolute;
  background: linear-gradient(
    45deg,
    var(--primary-color-1),
    var(--primary-color-2)
  );
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Profile image uploader */
.image-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.upload-image:hover .overlay {
  opacity: 1;
}

/* Container for 2 buttons side by side */
.dual-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dual-button-button {
  margin: 0 20px;
  width: 100%;
}

@media (max-width: 400px) {
  .dual-button-container {
    flex-direction: column;
  }
}

/* Typewriter style animation */
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--primary-color-2); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-color-2);
  }
}

/* Text editor styles */
.editor-container {
  max-width: 924px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 12px 18px;
}

.editor-control-panel {
  /* box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1); */
}

/* Sidebar */
.sidebar {
  height: 100% !important;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--accent-background-color);
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-toggle-menu {
  height: 50px;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 9rem;
  width: 10px;
  position: absolute;
  outline: none;
  z-index: 1;
  background-color: rgba(64, 194, 133, 0.693);
  border-color: rgba(64, 194, 133, 0.693);
  border-left: 0;
}

/* Title editor */
.title-editor-container {
  margin-top: 96px;
}

/* Text editor */
.text-editor-container {
  margin-top: 32px;
  flex: 1 1 auto;
}

/* Header */
.header-background {
  background: var(--background-color);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--input-box-background);
  /* box-shadow: 0 0 5px grey; */
}

::-webkit-scrollbar-thumb {
  background: var(--input-border-inactive);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--lightest-accent-color);
}
